<!DOCTYPE html>
<html>
<head><title>Home</title></head>
<body>
  <% if (!user) { %>
    <a href="/signup">Sign up</a><br>
    <a href="/login">Log in</a>
  <% } else { %>
    <h2>Hello, <%= user.name %>!</h2>
    <a href="/members">Go to Members Area</a><br>
    <a href="/logout">Logout</a>
  <% } %>
</body>
</html>
