<!DOCTYPE html>
<html>
<head><title>Members Area</title></head>
<body>
  <h1>Welcome to the Members Area, <%= user.name %>!</h1>
  <p>This page is only accessible to logged-in users.</p>
  <a href="/">Back to Home</a><br>
  <a href="/logout">Logout</a>
</body>
</html>
