<!DOCTYPE html>
<html>
<head>
    <title>Members Area</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="members-container">
        <h1>Welcome to the Members Area, <%= user.name %>!</h1>
        <p>Here's your special content:</p>
        <img src="/<%= image %>" alt="Random Cat" class="members-image">
    </div>
</body>
</html>